.list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.item {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}
