@use '../../../styles/variables.scss';
@use '../../../styles/mixins.scss';

.button {
  background-color: variables.$color-default-white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  border-right: variables.$border-light;
  color: variables.$color-text-muted;
  padding: 16px;
  font-weight: 600;
  transition: color variables.$trans-default;

  &Active,
  &:hover {
    color: variables.$color-default-black;
  }

  &Active {
    pointer-events: none;
  }

  @include mixins.vp-767 {
    &:first-child {
      border-left: variables.$border-light;
    }
  }
}

.actions {
  @include mixins.vp-767 {
    width: 100%;
    border-bottom: variables.$border-light;
    margin-bottom: 10px;
  }
}
