@use '../../../styles/variables.scss';
@use '../../../styles/mixins.scss';

.container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-bottom: 20px;
  height: 100%;
  overflow: auto;
}

.history {
  display: flex;
  flex-direction: column;
}

.date {
  align-self: flex-start;
}

.list {
  li {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;

    & *:first-child {
      justify-self: start;
    }
  }
}
.income {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;

  @include mixins.vp-767 {
    gap: 2px;
  }
}

.total {
  font-size: 30px;
  font-weight: 700;
  justify-self: end;

  @include mixins.vp-1023 {
    font-size: 26px;
  }

  @include mixins.vp-767 {
    font-size: 24px;
  }
}
