@use '../../../styles/variables.scss';

.line {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  padding: 6px 0;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    height: 1px;
    border-bottom: variables.$border-light-dashed;
  }
}

.title {
  max-width: 80%;
  width: fit-content;
  display: inline;
}

.actions {
  display: flex;
  gap: 4px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
