@use '../../../styles/variables.scss';
@use '../../../styles/mixins.scss';

.reciept {
  width: 380px;
  background-color: variables.$color-default-white;
  flex-shrink: 0;
  flex-grow: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;

  :global(.form__control) {
    margin-left: 10px;
    margin-right: 10px;
  }

  @include mixins.vp-767 {
    width: 100%;
    height: 40vh;
  }
}

.container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  overflow: auto;

  svg {
    flex-shrink: 0;
  }
}

.date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: variables.$color-text-muted;
  font-size: 16px;
  font-weight: 700;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.total {
  margin-top: auto;
  font-weight: 700;
  border-bottom: variables.$border-light;
  width: 100%;
  text-align: end;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  b {
    font-size: 26px;
  }

  @include mixins.vp-767 {
    b {
      font-size: 20px;
    }
  }
}

.modifiers {
  display: flex;
  justify-content: center;
  gap: 6px;
  padding: 10px;
  padding-top: 6px;

  :global(.form__control) {
    margin-bottom: 6px;
  }
}

.checkbox {
  flex-direction: column-reverse;
  align-items: center;

  label {
    padding-left: 0;
    white-space: nowrap;
  }

  input {
    width: 24px;
    height: 24px;

    @include mixins.vp-767 {
      width: 18px;
      height: 18px;
    }
  }
}

.actions {
  display: flex;
}

.button {
  width: 50%;
  border: none;
  padding: 16px;
  color: variables.$color-default-white;
  cursor: pointer;
  transition: background-color variables.$trans-default;

  &:disabled {
    filter: grayscale(1);
    pointer-events: none;
  }

  &Ok {
    background-color: variables.$color-success;
    &:hover {
      background-color: darken(variables.$color-success, 15%);
    }
  }

  &Cancel {
    background-color: variables.$color-torch-red;

    &:hover {
      background-color: darken(variables.$color-torch-red, 15%);
    }
  }
}

.discountPayType {
  text-align: center;
  color: variables.$color-torch-red;
}
