@use '../../styles/variables.scss';

.item {
  background-color: variables.$color-input-focus;
  border-radius: 10px;
  aspect-ratio: 1/1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon {
  font-size: 54px;
  color: variables.$color-text-muted;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price {
  margin-top: auto;
  font-weight: 700;
}
