@use '../../styles/variables.scss';

.item {
  background-color: variables.$color-input-focus;
  border-radius: 10px;
  aspect-ratio: 1/1.1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

// .item {
//   background-color: variables.$color-input-focus;
//   border-radius: 10px;
//   padding: 10px;

//   display: grid;
//   grid-template-columns: 1fr;
//   grid-template-rows: 54px minmax(48px, max-content) max-content max-content;
// }

.icon {
  font-size: 54px;
  color: variables.$color-text-muted;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  min-height: 48px;
}

.price {
  margin-top: auto;
  font-weight: 700;
}

.sizes {
  margin-top: auto;
}
