@use '../../styles/variables.scss';
@use '../../styles/mixins.scss';

.menuSection {
  margin-top: 24px;
}

.tabs {
  transition: background-color variables.$trans-default;
}

.tabsSticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 67px;
  padding: 0 44px;
  background-color: variables.$color-default-white;
  z-index: 10;

  @include mixins.vp-767 {
    padding: 0 26px;
    top: 65px;
  }
}

.tabsWrapper {
  min-height: 32px;
}
