@use '../../styles/variables.scss';

.footer {
  text-align: center;
  padding: 20px 0;
  color: variables.$color-default-white;
}

.fixedFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
