@use '../../styles/variables.scss';
@use '../../styles/mixins.scss';

.footer {
  text-align: center;
  // padding: 20px 0;
  background-color: variables.$color-default-white;
  border-top: variables.$border-light;

  // @include mixins.vp-767 {
  //   padding-top: 6px;
  //   padding-bottom: 6px;
  // }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fixedFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  color: variables.$color-default-white;
  border-top: none;

  .container {
    justify-content: center;
  }
}

.cashierFooter {
  @include mixins.vp-767 {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateY(-100%);
    transition: transform variables.$trans-default;
    z-index: 9;

    &.cfOpened {
      transform: translateY(0);
    }

    .container {
      flex-direction: column;
    }
  }
}
