@use '../../styles/variables.scss';

.footer {
  text-align: center;
  // padding: 20px 0;
  background-color: variables.$color-default-white;
  border-top: variables.$border-light;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fixedFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  color: variables.$color-default-white;
  border-top: none;

  .container {
    justify-content: center;
  }
}
