@use '../../styles/variables.scss';

.header {
  background-color: variables.$color-default-white;
  color: variables.$color-default-black;
  box-shadow: 0 10px 40px rgb(0 0 0 / 10%);
  border-bottom: variables.$border-light;
  z-index: 10;
}

.headerMain {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: none;
  border: none;
  color: variables.$color-default-white;
  background-color: transparent;

  svg {
    color: variables.$color-default-white;
  }
}

.headerContainer {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .headerMain & {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.actions {
  display: flex;
  gap: 16px;
}

.shopTitle {
  font-weight: 700;
  min-width: 200px;
  margin: 0;
}

.date {
  color: variables.$color-text-muted;
  font-weight: 700;
  font-size: 18px;
}

.shop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  font-size: 12px;
  color: variables.$color-text-muted;
  line-height: 1;
}
