@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #d4bcbc;
  border-top: 10px solid #383636;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.blockContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.fixedContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 15;
}

.inlineContainer {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    width: 20px;
    height: 20px;
    border-width: 5px;
  }
}
