.discount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  :global(.form) {
    width: auto;
    margin: 0;
  }
}

.title {
  margin-right: auto;
}

.actions {
  display: flex;
  gap: 8px;
}
