@use '../../../styles/variables.scss';

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.item {
  margin-bottom: 12px;
  border-bottom: variables.$border-light-dashed;

  &:last-child {
    margin-bottom: 0;
  }
}
