@use '../../../styles/variables.scss';
@use '../../../styles/mixins.scss';

.actions {
  display: flex;
  gap: 12px;

  @include mixins.vp-767 {
    flex-direction: column;
    gap: 8px;
  }
}

.empty {
  margin: 0;
  margin-bottom: 24px;
}

.search {
  position: relative;

  :global(.form__control) {
    margin-bottom: 0;
  }

  input {
    padding-left: 36px;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    color: variables.$color-text-muted;

    @include mixins.vp-767 {
      left: 20px;
    }
  }
}
