@use '../../../styles/variables.scss';

.item {
  display: flex;
  gap: 12px;
}

.actions {
  flex-grow: 1;
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  align-items: center;

  :global(.button):last-child {
    margin-left: auto;
  }
}
