@use '../../../styles/mixins.scss';

.container {
  @include mixins.vp-767 {
    padding-top: 12px;
  }
}
.cabinet {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  flex-grow: 1;

  :global(.tabs) {
    flex-grow: 1;
  }

  :global(.container) {
    padding: 0;
  }
}
