.cabinet {
  // background: #000;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  // height: 100%;
  flex-grow: 1;

  :global(.tabs) {
    flex-grow: 1;
  }

  :global(.container) {
    padding: 0;
  }
}
