@use '../../../styles/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
}

.select {
  align-self: flex-start;
}

.line {
  display: flex;
  gap: 8px;
}

.quantity {
  margin-left: auto;
}

.filter {
  flex-wrap: wrap;
  border-bottom: variables.$border-light;
}

.columnHead {
  cursor: pointer;
  transition: color variables.$trans-default;

  &:hover {
    color: variables.$color-default-black;
  }
}
