@use '../styles/variables.scss';
@use '../styles/mixins.scss';

.logo {
  // color: variables.$color-default-white;
  transition: opacity variables.$trans-default;
  display: block;

  &:hover {
    opacity: 0.7;
  }

  @include mixins.vp-767 {
    color: black;

    svg {
      height: 50px;
    }
  }
}
