.list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: $border-light-dashed;
  margin-bottom: 20px;

  li {
    border-bottom: $border-light-dashed;
    padding: 8px;
    transition: background-color $trans-default;

    &:hover {
      background-color: $color-input-focus;
    }
  }

  .label {
    font-weight: 600;
    color: $color-text-muted;

    &--interactive {
      cursor: pointer;
      transition: color $trans-default;

      &:hover {
        color: $color-default-black;
      }
    }
  }

  @include vp-767 {
    margin-bottom: 14px;

    li {
      padding: 6px;
    }
  }
}
