.list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: $border-light-dashed;
  margin-bottom: 20px;

  li {
    border-bottom: $border-light-dashed;
    padding: 12px;
    transition: background-color $trans-default;

    &:hover {
      background-color: $color-input-focus;
    }
  }
}
