#modal-root {
  position: relative;
  z-index: 10;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-default-black;
}

.modal__overlay {
  width: 100%;
  height: 100%;
  background-color: $color-default-black;
  opacity: 0.7;
  position: absolute;
  z-index: -1;
}

.modal__content {
  width: 100%;
  max-width: 600px;
  background-color: $color-default-white;
  padding: 60px;
  border-radius: $border-radius-l;
  position: relative;
  max-height: 100vh;

  @include vp-1023 {
    padding: 30px;
  }

  @include vp-767 {
    padding: 30px 20px;
  }
}

.modal__close-btn {
  padding: 5px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  @include vp-1023 {
    top: 10px;
    right: 10px;
  }

  @include vp-767 {
    top: 4px;
    right: 4px;
  }
}
