.tabs {
  display: flex;
  flex-direction: column;
}

.tabs__content {
  flex-grow: 1;
  border: 1px solid$color-default-black;
  border-top: none;
  padding: 16px;
  font-size: 18px;
}

.tabs__controls {
  border: 1px solid$color-default-black;
}

.tabs__control {
  border: none;
  border-right: 1px solid$color-default-black;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 20px;
  transition: color $trans-default;

  &:hover {
    color: #5b4f4f;
  }

  &--active {
    color: $color-neon-blue;
    pointer-events: none;
  }
}
