@use '../../styles/mixins.scss';

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  // grid-template-columns: repeat(4, minmax(120px, 1fr));

  li {
    width: 120px;
  }

  @include mixins.vp-1023 {
    li {
      width: 100px;
    }
  }

  @include mixins.vp-767 {
    li {
      width: 80px;
    }
  }
}

.modal {
  :global(.modal__content) {
    padding: 10px;
  }

  :global(.modal__heading) {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 8px;
  }

  :global(.modal__content) {
    width: auto;
  }

  :global(.modal__overlay) {
    opacity: 0.8;
  }

  :global(.modal__close-btn) {
    display: none;
  }
}
