@import 'variables';
@import 'mixins';
@import 'normalize';

@import 'components';

body {
  background-color: $background;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
}

.container {
  margin: 0 60px;

  @include vp--m {
    margin: 0 20px;
  }

  @include vp--s {
    margin: 0 10px;
  }
}
