@use '../../styles/mixins.scss';

.formContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  :global(.form),
  form {
    width: 100%;
    max-width: 500px;
  }
}
